body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  background: #000000;
  padding: 15px 0;
  width: 1920px;
  height: 45px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.header-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 300px;
  margin-top: -0px;
}

.header-mail {
  color: #fff;
  background: #333;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-left: -700px;
  margin-top: -0px;
}

.nav-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -270px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.8;
}

.nav-list a:hover {
  opacity: 1;
}

.btn-primary {
  background: #ff6a32;
  color: #000;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}
.nav-btn {
  width: 207px;
  height: 48px;
  color: #000000;
  background-color: #ff7143;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: 320px;
  margin-top: -350px;
}
.nav {
  margin-left: 320px;
  gap: 200px;
}
.nav button {
  margin-right: 300px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Группа: навигация + кнопка */
.nav-group {
  display: flex;
  align-items: center;
  gap: 100px; /* расстояние между меню и кнопкой */
}
.nav-list a {
  margin-right: 250px;
  gap: 200px;
}
